/**********************************************************************/
/* Template: bulletproof-tbb for Serendipity (http://www.s9y.org)     */
/**********************************************************************/

body a {
    color: #e57a8b
}

body a:hover {
    color: #c8a382
}

.leaderboard_code {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
}

.header-image {
    max-width: 500px;
    height: auto;
}

.navbar.main-nav {
    /* background-color: #f8c9c9; */
    background-color: #f6ebe6;
    margin: 7.5px -15px;
    border: 0px;
    text-transform: uppercase;
    padding: 0px;
}

#sbsitenav > li > a {
    padding-left:20px;
    line-height: 20px;
    /* color: #ffffff; */
    color: #212529;
    font-family: 'Futura URW', sans-serif !important;
}

#sbsitenav > li > a:hover,
#sbsitenav > li > a:focus {
    background-color: transparent;
    color: #e57a8b; 
}

#cse-search-box > input.form-control::-webkit-input-placeholder {
    display: none;
}

#cse-search-box > input.form-control::-moz-placeholder {
    display: none;
}
#cse-search-box > input.sb-closed.form-control {
    display: none;
}

#cse-search-box > .input-group-btn > button {
    color: #212529;
    border: 0px;  
}

#cse-search-box > .input-group-btn > button.sb-closed {
    border: 0px;
}

.serendipity_image_center {
    display: block;
    height: auto;
    max-width: 100%;
    padding: 0px;
}

.serendipity_social_follow {
    margin: 5px 0 5px 0;
}

.serendipity_social_follow a {
    color: #212529;
}

.serendipity_social_follow a:hover {
    color: #e57a8b;
}

#serendipityRightSideBar {
    overflow: visible;
    padding: 0px;
}

.addthis_sharing_toolbox {
    padding-top: 12px;
}

.between-post-ad {
    padding-top: 10px;
    padding-bottom: 15px;
    display: block;
    overflow: hidden;
}

.serendipity_commentsTitle {
    font-size: 100%;
    font-weight: bold;
}

.serendipity_entryFooter.byline {
    padding-top: 0px;
    margin-top: 0px;
}

.serendipity_entryFooter address {
    display: inline;
}

.serendipity_commentlink a {
    color: #212529;
}

.serendipity_commentlink a:hover {
    color: #e57a8b;
}

.serendipitySideBarItem {
    margin: 2px;
    padding: 0;
    border: 0px none;
    overflow: visible;
}

.serendipitySideBarTitle {
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: normal;
    color: #505050;
    padding: 8px 5px 8px 5px;
    border-left: 0px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ffffff;
    margin: 0;
}

.serendipitySideBarContent {
    padding: 10px;
    border-left: 0px solid #dfdfdf;
    background-color: #ffffff;
    margin: 0;
    line-height: 20px;
    text-align: left;
}

.search-box {
    width: 80%;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e57a8b;
}

.content {
    background-color: #ffffff;
    padding: 0px;
    font-size: 100%;
    line-height: 20px;
    border: 1px;
}

.content h1 {
    text-transform: none;
    font-size: 165%;
    line-height: 150%;
    margin: 5px 0 5px 0;
}

.content h1 a {
    color: #212529;
}

.content h1 a:hover {
    text-decoration: none;
    color: #e57a8b;
}

.content h2 {
    font-size: 150%;
}

.content h3 {
    font-size: 140%;
}

.entry-content {
    line-height: 130%;
    font-size: 120%;
    /* border-bottom: 1px solid #dfdfdf; */
    padding-bottom: 10px;
}

article {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 5px;
}

footer {
    margin-top: 5px;
}

#month,
.serendipity_weekDayName, 
#today  {
    font-size: 100%;
}

.copyright {
    font-size: 80%;
    background-color: #ffffff;
    overflow: visible;
    text-align: center;
}

blockquote {
    background: #d6e2e8;
    color: #505050;
    border: 1px solid #85a8b9;
    border-right-color: #1f5f7f;
    border-bottom-color: #1f5f7f;
    margin: 1em 4em;
    padding: 1em;
}

blockquote p {
    margin: 0.5em 0;
    padding: 0;
}

.serendipity_comment_author_self comment_evenbox,
.comment_evenbox {
    line-height: 2em;
    border: 1px dotted #efefef;
    background: #efefef;
}

.serendipity_comment_author_self comment_oddbox,
.comment_oddbox {
    line-height: 2em;
    border: 1px dotted #efefef;
    background: #ffffff;
}

.serendipity_commentsTitle {
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: .2em;
    margin: 1em 0;
    padding: 0.5em 0;
}

.at-h3 .at-recommended-label  {
    font-family: "Futura URW",sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.serendipity_commentDirection {
    display: none;
}