/**********************************************************************/
/* Template: bulletproof-tbb for Serendipity (http://www.s9y.org)     */
/**********************************************************************/

body a {
    color: #df077a;
}

body a:hover {
    color: #c9a480;
}

body h1,
body h2,
body h3 {
    font-weight: bold;
}

footer p {
    text-align: center;
}

.container {
    max-width: 1064px;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-header {
    max-width: 509px;
    margin-top: 10px;
}

.navbar-header img {
    max-width: 75%;
}

.navbar-nav {
    border: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-nav li a {
    color: #080808;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    background-color: transparent;
    color: #df077a;
}

.navbar-toggle {
    border-color: #dddddd;
    background-color: transparent;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 7, 122, 1);
}

.brand-img {
    padding-left: 0px;
}

.content {
    background-color: #ffffff;
    padding: 0px;
    max-width: 532px;
    font-size: 100%;
    line-height: 20px;
    border: 1px;
}

.content h1 {
    text-transform: none;
    font-size: 160%;
    line-height: 150%;
    letter-spacing: .2em;
    margin: 5px 0 15px 0;
}

.content h1 a {
    color: #080808;
}

.content h1 a:hover {
    text-decoration: none;
    color: #df077a;
}

.content h2 {
    font-size: 140%;
}

.content h3 {
    font-size: 130%;
}

.entry-content {
    font-size: 110%;
}

.serendipity_image_center {
    display: block;
    height: auto;
    max-width: 100%;
}

#serendipityLeftSideBar {
    background-color: #ffffff;
    color: #505050;
    overflow: hidden;
    padding: 0px;
    min-width: 170px;
}

#serendipityRightSideBar {
    background-color: #ffffff;
    color: #505050;
    overflow: visible;
    padding: 0px;
    /*min-width: 322px;*/
}

#serendipityRightSideBar .serendipitySideBarItem .serendipitySideBarTitle {
    width: 300px;
}

.leaderboard_code {
    overflow-y: auto;
}

.between-post-ad {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    overflow: hidden
}

.serendipity_commentsTitle {
    font-size: 100%;
    font-weight: bold;
}

.serendipity_entry_body {
    font-size: 100%;
}

.serendipity_entryFooter {
    font-size: 90%;
    margin: 5px 0;
    padding: 8px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    clear: left;
}

.serendipity_entryFooter address {
    display: inline;
}

.serendipitySideBarItem {
    margin: 2px;
    padding: 0;
    border: 0px none;
    overflow: visible;
    height: 100%; 
}

.serendipitySideBarTitle {
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: .2em;
    color: #505050;
    padding: 8px 5px 8px 5px;
    border-left: 0px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ffffff;
    margin: 0;
}

.serendipitySideBarContent {
    /*font-size: 100%;*/
    padding: 10px;
    border-left: 0px solid #dfdfdf;
    background-color: #ffffff;
    margin: 0;
    line-height: 20px;
    text-align: left;
}

.serendipity_social_follow {
    margin: 2px;
    padding: 5px;
}

.serendipity_social_follow a {
    color: #080808;
}

.serendipity_social_follow a:hover {
    color: #df077a;
}

#sbsitenav .serendipitySideBarContent {
    padding: 0;
    border: 0;
    margin: 0;
}

#sbsitenav {
    padding: 10px;
    margin: 0;
}

#sbsitenav ul{
    margin: 0;
    list-style-type: none;
}

#sbsitenav ul a {
    border-left: 0px solid #dfdfdf;
    padding: 8px 0px 8px 10px;
    display: block;
}

#sbsitenav ul a:hover,
#sbsitenav .currentpage a {
    border-left: 4px solid #3D98C5;
}

#sbsitenav li {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #ffffff;
    margin: 0 0 2px 0;
    padding: 0;
    overflow: hidden;
}

#month,
.serendipity_weekDayName, 
#today  {
    font-size: 100%;
}

.copyright {
    font-size: 80%;
    background-color: #ffffff;
    overflow: visible;
    text-align: center;
}

blockquote {
    background: #d6e2e8;
    color: #505050;
    border-left: 1px solid #85a8b9;
    border-top: 1px solid #85a8b9;
    border-right: 1px solid #1f5f7f;
    border-bottom: 1px solid #1f5f7f;
    margin: 1em 4em;
    padding: 1em;
}

blockquote p {
    margin: 0.5em 0;
    padding: 0;
}

.serendipity_comment_author_self comment_evenbox,
.comment_evenbox {
    line-height: 2em;
    border: 1px dotted #efefef;
    background: #efefef;
}

.serendipity_comment_author_self comment_oddbox,
.comment_oddbox {
    line-height: 2em;
    border: 1px dotted #efefef;
    background: #ffffff;
}

.serendipity_commentsTitle {
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: .2em;
    margin: 1em 0;
    padding: 0.5em 0;
}
